@tailwind base;
@tailwind components;
@tailwind utilities;

.error::before {
    content: "⚠ ";
    color: #ef4444;
  }
  .error{
    color: #ef4444;
  }
  .drawer-side a{
    color: #ffff;
  }
  .drawer-side a:hover{
    color: #fbbd0d;
    border: 2px solid #fbbd0d;
  }
  .drawer-side a.active{
    color: #fbbd0d;
    border: 2px solid #fbbd0d;
  }
  .my-menu a{
    color: #fbbd0d;
    border-radius: 0;
  }
  .my-menu a:hover{
    color: #fbbd0d;
    border-bottom: 2px solid #fbbd0d;
    border-radius: 0;
  }
  .my-menu a.active{
    color: #fbbd0d;
    border-bottom: 2px solid #fbbd0d;
    border-radius: 0;
  }